@model IEnumerable<AppEjemploLayout.Models.ClasesUsuario.Usuario>

@{
    ViewBag.Title = "AgregarIntegrante1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AgregarIntegrante1</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombresUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellidosUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.aliasUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contraseñaUsuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombresUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellidosUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aliasUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contraseñaUsuario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.correoElectronicoUsuario }) |
            @Html.ActionLink("Details", "Details", new { id=item.correoElectronicoUsuario }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.correoElectronicoUsuario })
        </td>
    </tr>
}

</table>
