@model AppEjemploLayout.Models.ClasesProyecto.Proyecto

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br />
<div class="contenido">
    <div class="text-center">
        <h3 class="text-left">¿Esta seguro que desea eliminar el proyecto?</h3>
        <br />
        <div class="table-responsive">

            <dl class="dl-horizontal">
                <dt>
                    <label>Nombre del proyecto:</label>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.nombreProyecto)
                </dd>

                <dt>
                    <label>Descripción:</label>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.descripcionProyecto)
                </dd>

                <dt>
                    <label>Fecha de inicio:</label>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fechaInicioProyecto)
                </dd>

                <dt>
                    <label>Fecha de finalización:</label>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fechaFinalizacionProyecto)
                </dd>

                <dt>
                    <label>Estado:</label>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.estadoProyecto)
                </dd>

            </dl>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="col-md-offset-2">
                <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                @Html.ActionLink("Volver", "Index")
            </div>
        }
    </div>
</div>

<div>

    
</div>
