@model AppEjemploLayout.Models.ClasesProyecto.Proyecto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles del proyecto</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreProyecto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreProyecto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcionProyecto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcionProyecto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaInicioProyecto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaInicioProyecto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaFinalizacionProyecto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaFinalizacionProyecto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estadoProyecto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estadoProyecto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.historiasUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.historiasUsuario)
        </dd>


    </dl>
</div>
<p>    
    @Html.ActionLink("Volver", "Index")
</p>
