@model AppEjemploLayout.Models.ClasesProyecto.Proyecto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br />

    <div class="contenido">
        <div class="text-center">
            <h2>Proyecto @Html.DisplayFor(model => model.nombreProyecto) - Detalles</h2>
        </div>
        
        <br />
        <div class="table-responsive">

            <dl class="dl-horizontal">
                <dt>
                    <label>Nombre del proyecto:</label>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.nombreProyecto)
                </dd>

                <dt>
                    <label>Descripción:</label>
                </dt>

                <dd class="text-justify">
                    @Html.DisplayFor(model => model.descripcionProyecto)
                </dd>

                <dt>
                    <label>Fecha de inicio:</label>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fechaInicioProyecto)
                </dd>

                <dt>
                    <label>Fecha de finalización:</label>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fechaFinalizacionProyecto)
                </dd>

                <dt>
                    <label>Estado:</label>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.estadoProyecto)
                </dd>

            </dl>
        </div>
        <p>
            
            <a href="@Html.ActionLink("Volver", "Index")">
                Atras
            </a>

            
        </p>
    </div>
