@model AppEjemploLayout.Models.ClasesProyecto.Proyecto

@{
    ViewBag.Title = "EditarProyecto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br />


<div class="contenido">
        <div class="text-center">
            <h2>Editar proyecto</h2>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="container">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ProyectoId)

                <div class="table-responsive">

                    <dl class="dl-horizontal">
                        <dt>
                            <label>Nombre del proyecto:</label>
                        </dt>

                        <dd>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.nombreProyecto, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.nombreProyecto, "", new { @class = "text-danger" })
                            </div>
                        </dd>

                        <dt>
                            <label>Descripción:</label>
                        </dt>

                        <dd class="text-justify">
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.descripcionProyecto, 4, 58, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.descripcionProyecto, "", new { @class = "text-danger" })
                            </div>
                        </dd>

                        <dt>
                            <label>Fecha de inicio:</label>
                        </dt>

                        <dd>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.fechaInicioProyecto, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.fechaInicioProyecto, "", new { @class = "text-danger" })
                            </div>
                        </dd>

                        <dt>
                            <label>Fecha de finalización:</label>
                        </dt>

                        <dd>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.fechaFinalizacionProyecto, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.fechaFinalizacionProyecto, "", new { @class = "text-danger" })
                            </div>
                        </dd>

                        <dt>
                            <label>Estado:</label>
                        </dt>

                        <dd>
                            <div class="col-md-10">
                                @{
                                    List<SelectListItem> lista = new List<SelectListItem>();
                                    lista.Add(new SelectListItem { Text = "Abierto", Value = "abierto" });
                                    lista.Add(new SelectListItem { Text = "Cancelado", Value = "cancelado" });
                                    lista.Add(new SelectListItem { Text = "Finalizado", Value = "finalizado" });
                                }
                                @Html.DropDownListFor(model => model.estadoProyecto, lista, new { htmlAttributes = new { @class = "inputs-editar" } })
                            </div>
                        </dd>

                        <dt>&nbsp;</dt>
                        <dd>
                            <div class="col-md-10">
                                <h4><input type="submit" value="Guardar" class="btn btn-success"/></h4>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>                   
        }
        <br/>
        <div class="btn btn-default">
            @Html.ActionLink("Volver", "Index")
        </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
