@model IEnumerable<AppEjemploLayout.Models.Proyecto_Usuario.ProyectoUsuarioRelacion>

@{
    ViewBag.Title = "Index";
}

<br/><br/>


<div class="contenido">
    <h2>Mis proyectos</h2>

    <div class="container">
        <div class="form-group row">
            <div class="col-md-2">
                <a href="@Url.Action("CrearProyecto")" class="btn btn-success" title="Buscar"><h5><span class="glyphicon glyphicon-plus" id="texto-derecha"></span></h5></a>
                @if (Model.ToList().Count > 0)
                {
                    <a class="btn btn-danger" title="Buscar"><h5><span class="glyphicon glyphicon-minus" id="texto-derecha"></span></h5></a>
                }
            </div>
            @if (Model.ToList().Count > 0)
            {
            <div>
                <input autocomplete="on" alt="filtrar" name="filtrarProyectos" class="btn btn-default" placeholder="Buscar" />
                <a class="btn btn-primary" title="Buscar"><h4><span class="glyphicon glyphicon-search"></span></h4></a>
            </div>
            }
        </div>
    </div>
    <br />

    <table class="table">
        <div class="form-group">

            @if (Model.ToList().Count == 0)
            {
                    <p>Aun no tienes proyectos.</p>
                }
                @*@Html.ActionLink("Agregar nuevo proyecto", "CrearProyecto")*@

                @foreach (var item in Model)
            {
                    <tr>
                        @{
                            string tipo = "";
                            if (item.proyecto.estadoProyecto.CompareTo("abierto") == 0)
                            {
                                tipo = "panel-info";
                            }
                            if (item.proyecto.estadoProyecto.CompareTo("cancelado") == 0)
                            {
                                tipo = "panel-danger";
                            }
                            if (item.proyecto.estadoProyecto.CompareTo("finalizado") == 0)
                            {
                                tipo = "panel-success";
                            }
                            if (item.proyecto.estadoProyecto.CompareTo("finalizado") != 0 &&
                                item.proyecto.estadoProyecto.CompareTo("cancelado") != 0 &&
                                item.proyecto.estadoProyecto.CompareTo("abierto") != 0)
                            {
                                tipo = "panel-default";
                            }
                        }
                        <div class="panel @tipo">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#@item.ProyectoId" aria-expanded="true">
                                        @Html.DisplayFor(modelItem => item.proyecto.nombreProyecto)
                                    </a>
                                    <a href="@Url.Action("Details", new { id = item.ProyectoId })"><span class="glyphicon glyphicon-folder-open" id="texto-derecha"></span></a>
                                </h4>
                            </div>

                            <div id="@item.ProyectoId" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label>Descripción:</label><br/>
                                        @Html.DisplayFor(modelItem => item.proyecto.descripcionProyecto)
                                        <br /><br />

                                        <label>Fecha inicio:</label>
                                        @Html.DisplayFor(modelItem => item.proyecto.fechaInicioProyecto)
                                        
                                        <label class="ubicar-derecha">Fecha fin:</label>
                                        @Html.DisplayFor(modelItem => item.proyecto.fechaFinalizacionProyecto)

                                        <label class="ubicar-derecha">Estado:</label>
                                        @Html.DisplayFor(modelItem => item.proyecto.estadoProyecto)

                                        <div class="panel-acciones">
                                            <a href="@Url.Action("Details", new { id = item.ProyectoId })"><span class="glyphicon glyphicon-eye-open"></span></a>
                                            @if (item.rolUsuario.Equals("administrador"))
                                            {
                                                <a href="@Url.Action("EditarProyecto", new { id = item.ProyectoId })"><span class="glyphicon glyphicon-pencil"></span></a>
                                                <a href="@Url.Action("EliminarProyecto", new { id = item.ProyectoId })"><span class="glyphicon glyphicon-trash"></span></a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </tr>
                            }
            </div>

    </table>
</div>