@model IEnumerable<AppEjemploLayout.Models.Proyecto_Usuario.ProyectoUsuarioRelacion>

@{
    ViewBag.Title = "ListaUsuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RegistrarUsuario</h2>


<table class="table">
    <tr>        
        <th>
            @Html.DisplayNameFor(model => model.usuario.nombresUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario.correoElectronicoUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rolUsuario)
        </th>
        <th></th>
    </tr>

@if (Model == null)
{
    <h2>Aun no hay usuarios.</h2>
}
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.usuario.nombresUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario.correoElectronicoUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rolUsuario)
        </td>
        @if (Session["PermisoEditarUsuariosProyecto"] != null && (bool)Session["PermisoEditarUsuariosProyecto"] && item.usuario.correoElectronicoUsuario.CompareTo((string)Session["NombreUsuario"]) == 0)
        {
            <td>
                @Html.ActionLink("Editar", "EditarRol", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "EliminarIntegrante", new { id = item.Id })
            </td>
        }        
    </tr>

    <p>
        @Html.ActionLink("Agregar Integrante", "AgregarIntegrante", new { id = item.proyecto.ProyectoId })
    </p>
}

</table>
