@model IEnumerable<AppEjemploLayout.Models.Proyecto_Usuario.ProyectoUsuarioRelacion>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UsuariosProyecto</title>
</head>
<body>
    <div class="contenido">
        <div class="text-center">
            @* <h2>Proyecto @Html.DisplayFor(modelItem => Model.proyecto.nombreProyecto)</h2> *@
        </div>     
        @*@Html.ActionLink("Agregar nuevo", "Create")*@            
        

        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Agregar</button>

        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="jumbotron text-center">
                    
                    <h3>Agregar al equipo</h3>
                    
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="nombre">Nombre:</label>
                            <input class="form-control" id="nombre" placeholder="Ingrese Nombre">
                        </div>
                    </form>

                    <div class="container">

                        <form class="form-inline">
                            <div class="form-group">
                                <label for="rol">Rol:</label>
                                <select class="form-control" id="rol">
                                    <option>Equipo de trabajo</option>
                                    <option>Product Owner</option>
                                    <option>Scrum Master</option>
                                </select>
                            </div>
                        </form>

                        <form class="form-inline">
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Agregar</button>
                                <label> &nbsp; &nbsp; &nbsp;&nbsp;</label>
                                <button type="submit" class="btn btn-danger">Cancelar</button>                                                                
                            </div>
                        </form>
                    </div>
                </div>

                    </div>
                </div>

                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.usuario.correoElectronicoUsuario)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.rolUsuario)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.usuario.correoElectronicoUsuario)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.rolUsuario)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                    </td>
                                </tr>
                            }

                        </table>
                </div>
</body>
</html>
