@model AppEjemploLayout.Models.ViewModel.InformacionDeProyecto

@{
    ViewBag.Title = "UsuariosProyecto";
}



<div class="container-fluid text-left">
    <div class="row content">

        <div class="col-sm-6 sidenav">

            <div class="contenido col-md-offset-0">
                <div class="text-center">
                    @* <h2>Proyecto @Html.DisplayFor(modelItem => Model.proyecto.nombreProyecto)</h2> *@
                </div>

                <!-- Trigger the modal with a button -->
                <div class="form-group row">
                    <div class="col-md-offset-7 col-md-2">
                        <button type="button" class="btn btn-success" title="Agregar al equipo">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
                

                <table class="table">
                    <tr>
                        <th>
                            <label class="col-md-3">Correo electrónico</label>
                        </th>
                        <th>
                            <label class="col-md-3">Rol</label>
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model.equipo)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.usuario.correoElectronicoUsuario)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.rolUsuario)
                            </td>
                            <td>
                                <a href="@Url.Action("Details", new { id = item.Id })">
                                    <span class="glyphicon glyphicon-eye-open"> | </span>
                                </a>
                                <a href="@Url.Action("Edit", new { id = item.Id })">
                                    <span class="glyphicon glyphicon-pencil"> | </span>
                                </a>
                                <a href="@Url.Action("EliminarIntegrante", new { id = item.Id })">
                                    <span class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#myModal"></span>
                                </a>
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>

        <div class="col-sm-6 text-left">

            <div class="contenido col-md-offset-0">
                <div class="text-center">
                    @* <h2>Proyecto @Html.DisplayFor(modelItem => Model.proyecto.nombreProyecto)</h2> *@
                </div>

                <!-- Trigger the modal with a button -->
                <div class="form-group row">
                    <div class="col-md-offset-7 col-md-2">
                        <a class="btn btn-success btn-lg" href="../HistoriaUsuarios/Create?IdProyecto=@Model.proyecto.ProyectoId">Nueva HU</a>
                    </div>
                </div>
                        <table class="table">
                            <tr>
                                <th>
                                    <label class="col-md-3">Nombre</label>
                                </th>
                                <th>
                                    <label class="col-md-3">Prioridad</label>
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model.productBacklog)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.prioridad)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit","HistoriaUsuarios", new { id = item.HistoriaUsuarioId },"")">
                                            <span class="glyphicon glyphicon-pencil">&nbsp;|&nbsp;</span>
                                        </a>
                                        <a href="@Url.Action("Details", "HistoriaUsuarios", new { id = item.HistoriaUsuarioId }, "")">
                                            <span class="glyphicon glyphicon-eye-open">&nbsp;|&nbsp;</span>
                                        </a>
                                        <a href="@Url.Action("EliminarIntegrante", "HistoriaUsuarios", new { id = item.HistoriaUsuarioId }, "")">
                                            <span class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#myModal"></span>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>


                <div class="col-sm-12 text-left">

                    <div class="contenido col-md-offset-0">
                        <div class="text-center">
                            @* <h2>Proyecto @Html.DisplayFor(modelItem => Model.proyecto.nombreProyecto)</h2> *@
                        </div>

                        <!-- Trigger the modal with a button -->
                        <a class="btn btn-success btn-lg" href="../Sprints/Create?IdProyecto=@Model.proyecto.ProyectoId">Nuevo sprint</a>
                        <table class="table">
                            <tr>
                                <th>
                                    <label class="col-md-3">Identificador</label>
                                </th>
                                <th>
                                    <label class="col-md-3">Estado</label>
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model.sprints)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SprintId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.estado)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Details", "Sprints", new { id = item.SprintId }, "")">
                                            <span class="glyphicon glyphicon-eye-open">&nbsp;|&nbsp;</span>
                                        </a>
                                        <a href="@Url.Action("Edit", "Sprints", new { id = item.SprintId },"")">
                                            <span class="glyphicon glyphicon-pencil">&nbsp;|&nbsp;</span>
                                        </a>
                                        <a href="@Url.Action("Delete", "Sprints", new { id = item.SprintId }, "")">
                                            <span class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#myModal"></span>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>

                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Agregar Integrante al Equipo</h4>
                            </div>
                            <div class="modal-body">
                                <div class="coso" style="padding: 20px;">
                                    <form class="form-horizontal" onsubmit="false">
                                        <input id="txt-idProyecto" value="@Model.proyecto.ProyectoId" hidden />
                                        <div class="form-group">
                                            <label for="nombre">Nombre:</label>
                                            <input class="form-control" id="nombreUsuario" placeholder="Ingrese Nombre">
                                        </div>
                                        <div class="form-group">
                                            <label for="rol">Rol:</label>
                                            <select id="cmb-rol" class="form-control">
                                                <option value="Equipo de trabajo">Equipo de trabajo</option>
                                                <option value="Product Owner">Product Owner</option>
                                                <option value="Scrum Master">Scrum Master</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <button id="btn-insertarUsuario" class="btn btn-success">Agregar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
</div>
@Scripts.Render("~/scripts/autocompletado")
@Scripts.Render("~/scripts/eventosProyecto")
