@model AppEjemploLayout.Models.ClasesSprints.Sprint

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br />

<div class="contenido">
    <div class="text-center">
        <h3 class="text-left">¿Está seguro que quiere eliminar el Sprint?</h3>
        <br />
        <div class="table-responsive">
            <dl class="dl-horizontal">
                <dd>
                    @Html.DisplayFor(model => model.proyecto.nombreProyecto)
                </dd>

                <dt class="text-center">
                    @Html.DisplayNameFor(model => model.duracion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.duracion)
                </dd>

                <dt class="text-center">
                    @Html.DisplayNameFor(model => model.estado)
                </dt>

                <dd class="text-center">
                    @Html.DisplayFor(model => model.estado)
                </dd>

            </dl>
        </div>
        @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">                    
                    <input type="submit" value="Eliminar" class="btn btn-danger col-md-offset-2" />
                </div>

                
            }
        
    </div>
    <div class="btn btn-default">
        <a href="/Proyectoes/UsuariosProyecto?IdProyecto=@ViewBag.proyectoId">Volver</a>
    </div>   
</div>