@model AppEjemploLayout.Models.ClasesSprints.Sprint

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar Sprint</h2>

<h3>¿Está seguro que quiere eliminar esto?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.proyecto.nombreProyecto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proyecto.nombreProyecto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.duracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duracion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            <a href="/Proyectoes/UsuariosProyecto?IdProyecto=@ViewBag.proyectoId">Volver</a>
            @*@Html.ActionLink("Volver", "UsuariosProyecto","Proyectoes","IdProducto=1", null)*@
        </div>
    }
</div>
