@model AppEjemploLayout.Models.ViewModel.InformacionSprint

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="text-center">
    <h2>Sprint @Html.DisplayFor(m => Model.sprint.SprintId))</h2>
</div>

<div class="contenido col-md-offset-1">
    <div class="text-left">
        <h3>Historias de usuario</h3>
    </div>
    <br />
    <a href="../AsignarTareas" class="btn btn-success">Tablero de tareas</a>    

    <!-- Trigger the modal with a button -->
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.historiasUsuario.First().nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.historiasUsuario.First().prioridad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.historiasUsuario.First().ezfuerzo)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.historiasUsuario)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.prioridad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ezfuerzo)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.HistoriaUsuarioId }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.HistoriaUsuarioId }) |
                    @Html.ActionLink("Eliminar", "EliminarIntegrante", new { id = item.HistoriaUsuarioId })
                </td>
            </tr>
        }
    </table>
</div>




<div class="contenido col-md-offset-1">
    <div class="text-left">
        <h3>Tareas</h3> 
    </div>
    <br />
    <!-- Trigger the modal with a button -->
    <a href="../../TareaSprints/Create?idSprint=@Model.sprint.SprintId" class="btn btn-success">Nueva tarea</a>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tareas.First().asunto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tareas.First().estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tareas.First().estimacionHoras)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.tareas)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.asunto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estimacionHoras)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.TareaSprintId }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.TareaSprintId }) |
                    @Html.ActionLink("Eliminar", "EliminarIntegrante", new { id = item.TareaSprintId })
                </td>
            </tr>
        }
    </table>
</div>