@model AppEjemploLayout.Models.ClasesHistoriaUsuario.HistoriaUsuario

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="contenido">
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <br /><br />
    <div class="form-horizontal">
        <h2 class="text-center">Crear historia de usuario</h2>
        <div class="container col-md-offset-1">
            <div class="form-group" hidden>
                @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProyectoId, new { htmlAttributes = new { @class = "form-control", @Value  =ViewBag.ProyectoId } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "col-form-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" }) 
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.contexto, htmlAttributes: new { @class = "col-form-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.contexto, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.contexto, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.descripcion, htmlAttributes: new { @class = "col-form-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.descripcion, 4, 68, new { htmlAttributes = new { @class = "form-control" } })  <br/>
                    @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.prioridad, htmlAttributes: new { @class = "col-form-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.prioridad, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.prioridad, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ezfuerzo, htmlAttributes: new { @class = "col-form-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ezfuerzo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ezfuerzo, "", new { @class = "text-danger" })
                </div>
            </div>
            <br/>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <a href="/Proyectoes/UsuariosProyecto?IdProyecto=@ViewBag.proyectoId" class="col-md-offset-1 col-md-2 btn btn-danger"><span class="glyphicon glyphicon-remove-circle"></span> Cancelar</a> 
                    <button type="submit" value="Guardar" class="col-md-offset-1 col-md-2 btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</button>
                </div>
            </div>
        </div>
    </div>
}
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


