@model AppEjemploLayout.Models.ClasesHistoriaUsuario.HistoriaUsuario

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br />

<div class="contenido">
    <div class="text-center">
        <h3 class="text-left">¿Esta seguro que desea eliminar la historia de usuario?</h3>
        <br />
        <div class="table-responsive">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.contexto)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.contexto)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.descripcion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.descripcion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.prioridad)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.prioridad)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ezfuerzo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ezfuerzo)
                </dd>

            </dl>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                <a class="btn btn-default" href="/Proyectoes/UsuariosProyecto?IdProyecto=@Model.ProyectoId">Volver</a>
            </div>
        }
    </div>
</div>

