@model AppEjemploLayout.Models.ClasesHistoriaUsuario.HistoriaUsuario

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="contenido ">
    <br/>
    <h2 class="text-center">Historia de usuario</h2>
    <div class="col-lg-offset-1">
        <dl class="dl-horizontal">
            
            <dd>
                @Html.DisplayFor(model => model.proyecto.nombreProyecto)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.contexto)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.contexto)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.descripcion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.prioridad)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.prioridad)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ezfuerzo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ezfuerzo)
            </dd>

        </dl>
    </div>
    <a class="btn btn-default" href="/Proyectoes/UsuariosProyecto?IdProyecto=@ViewBag.proyectoId">Volver</a>
    
</div>