@model AppEjemploLayout.Models.ClasesHistoriaUsuario.HistoriaUsuario

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="contenido ">
    <br />
    <h2 class="text-center">Editar historia de usuario</h2>
    <div class="container">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.HistoriaUsuarioId)

                <div class="form-group" hidden>
                    <label class = "control-label col-md-2">Identificador:</label>
                    <div class="col-md-10">
                        @Html.DropDownList("ProyectoId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProyectoId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class = "control-label col-md-2">Nombre:</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class = "col-form-label control-label col-md-2">Contexto:</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.contexto, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.contexto, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class = "col-form-label control-label col-md-2">Descripción:</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class = "col-form-label control-label col-md-2">Prioridad:</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.prioridad, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.prioridad, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class = "col-form-label control-label col-md-2">Esfuerzo:</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ezfuerzo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ezfuerzo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br/>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-10">
                        <a href="/Proyectoes/UsuariosProyecto?IdProyecto=@Model.ProyectoId" type="button" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-remove-circle"></span> Cancelar</a>
                        <button type="submit" value="CrearProyecto" class="col-md-offset-1 btn btn-success btn-lg"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</button>
                    </div>
                </div>
            </div>
        }
    </div>
    </div>