@model AppEjemploLayout.Models.ClasesUsuario.Usuario

@{
    ViewBag.Title = "InformacionUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br />

<div class="contenido">
    <h2>Perfil de Usuario</h2>

    <div class="container">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.nombresUsuario)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombresUsuario)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.apellidosUsuario)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.apellidosUsuario)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.aliasUsuario)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.aliasUsuario)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.correoElectronicoUsuario)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.correoElectronicoUsuario)
            </dd>

        </dl>
    </div>

</div>
   
