@model AppEjemploLayout.Models.ClasesUsuario.Usuario

@{
    ViewBag.Title = "InformacionUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Perfil</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombresUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombresUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidosUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidosUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aliasUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aliasUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contraseñaUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contraseñaUsuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "EditarUsuario") |
    @Html.ActionLink("Pagina principal", "Index")
</p>
